@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light|Open+Sans:400,400italic,700,700italic);

BODY {
	font-family: "Open Sans", sans-serif;
}
.container {
	margin: auto;
	max-width: 600px;
	padding: 10px;
}
.comment {
	background: rgba(253,232,165,0.6);
	border-top: 3px solid rgb(253,232,165);/*#f3ac3d;*/
	margin-top: 7px;
	padding: 10px;
}
.comment P {
	font-family: "Shadows Into Light", sans-serif;
	font-size: 1.2em;
	display: inline-block;
	margin: 0;
}
.comment P.screen-name {
	font-family: "Open Sans", sans-serif;
	font-size: 90%;
	opacity: 0.6;
}
.comment P.screen-name:after {
	content: " says: ";
}
FORM#commentBox .textarea-box {
	background: rgba(253,232,165,0.6);
	margin-top: 7px;
	padding: 7px;
}
FORM#commentBox TEXTAREA {
	border: none;
	border-top: 3px solid rgb(253,232,165);
	border-radius: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	resize: vertical;
	width: 100%;
}
FORM#commentBox BUTTON {
	background: #f3ac3d;
	border: none;
	border-radius: 0;
	float: right;
	font-family: inherit;
	margin: 4px 0 4px;
	padding: 4px 8px;
	transition: background 0.3s;
}
FORM#commentBox BUTTON:hover {
	background: #fcc97a;
}
FORM#commentBox:after {
	clear:both;
	content:" ";
	display:block;
}
FORM#commentBox LABEL INPUT {
	border: none;
	border-top: 3px solid rgb(253,232,165);
	border-radius: 0;
	padding: 5px 8px;
}
.flip { 
-webkit-transform: rotate(180deg); 
-moz-transform: rotate(180deg); 
-o-transform: rotate(180deg);
-ms-transform: rotate(180deg); 
transition: -webkit-transform 3s, -moz-transform 3s, -o-transform 3s, -ms-transform 3s;
}
.rotate { 
-webkit-transform: rotate(360deg); 
-moz-transform: rotate(360deg); 
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg); 
transition: -webkit-transform 3s, -moz-transform 3s, -o-transform 3s, -ms-transform 3s;
}
.dark {
	background:#000;
	color:#fff;
	transition: background 3s, color 3s;
}
#comments {
	max-height:250px;
	overflow:auto;
}
.dark .comment {
	background:RGBA(255,255,255,0.3);
	border:0;
	transition: background 3s, color 3s;
}
.dark FORM#commentBox TEXTAREA {
	background:#000;
	border:2px #fff solid;
	color:#fff;
	transition: background 3s, color 3s;
}
.dark FORM#commentBox .textarea-box {
	background:transparent;
	transition: background 3s, color 3s;
}
.dark BUTTON {
	background:#000;
	color:#fff;
	transition: background 3s, color 3s;
}
