@charset "utf-8";
/* CSS Document */

BODY {
	background: url(../images/easterbg.png);
	padding-bottom: 20px;
}
.comment, #commentBox {
	background: rgba(236,245,255,0.9);
	border-top: none;
	border-radius: 8px;
	margin-top: 7px;
	padding: 10px;
}
FORM#commentBox .textarea-box  {
	background: none;
	border: none;
}
FORM#commentBox .textarea-box TEXTAREA  {
	border-top: none;
	margin-top: 0;
}
FORM#commentBox LABEL INPUT {
	border-top: none;
	margin-top: 5px;
}
.artice-container {
	background: rgba(244,222,242,0.9);
	border-radius: 8px;
	padding: 1px 20px 20px 20px;
	margin-top: 20px;
}
NAV {
	background: rgba(255,254,229,0.9);
	border-radius: 8px;
	margin-top: 20px;
	padding: 15px;
}
.comment P.screen-name:after {
	content: " sayeth unto thee: ";
}
H1:before {
	content: "The Gospel according to: ";
	font-size: 40%;
	opacity: 0.6;
}