@charset "utf-8";
/* main.css - overall styles for the tutoring social network */

/* ================================================================ || FONTS || */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,700italic,700);

/* ================================================================ || HTML STYLES || */
BODY {
	background: #dcf4eb;
	font-family: "Open Sans", sans-serif;
	margin: 0;
	padding: 0;
}
H1 {
	background: #084734;
	color: #fff;
	font-size: 3em;
	font-weight: 300;
	margin-bottom: 10px;
	padding: 2px 10px 10px;
	text-align: center;
}
UL {
	list-style: none;
	padding: 0;
}

/* ================================ || FORM STUFF || */
FIELDSET {
	border: solid 2px rgba(255,255,255,0.5);
	margin: 10px 25px 20px; 
}
FIELDSET UL LI {
	margin: 5px 0;
}
LEGEND {
	color: #fff;
	font-size: 1.5em;
}
INPUT,
LABEL {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: #fff;
}
LABEL {
	display: inline-block;
	font-size: 1.1em;
	width: 35%;
}
INPUT {
	border: none;
	border-radius: 7px;
	color:  #075b3f;
	font-family: "Open Sans", sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	padding: 4px 10px;
	width: 64%;
}

P.instructions {
	color: #fff;
}
.form-container {
	background: #075b3f;
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;
	margin: auto;
	max-width: 640px;
	padding: 10px 0;
}