	<form method="post" action="showform.php" enctype="multipart/form-data">
		<!-- START ACCOUNT FIELDS -->
		<fieldset>
			<legend class="account">Account</legend>
			<ul>
				<li>
					<label for="first_name">First Name:</label>
					<input type="text" id="first_name" name="first_name" class="large" maxlength="50" required />
				</li>
				<li>
					<label for="last_name">Last Name:</label>
					<input type="text" id="last_name" name="last_name" class="large" required />
				</li>
				<li>
					<label for="email">Email:</label>
					<input type="email" id="email" name="email" class="large" required />
				</li>
				<li>
					<label for="password">Password:</label>
					<input type="password" id="password" name="password" />
				</li>
				<li>
					<label for="password2">Re-enter Password:</label>
					<input type="password" id="password2" name="password2" />
				</li>
			</ul>
		</fieldset>
		<!-- end account -->
		
		<!-- START ADDRESS FIELDS -->
		<fieldset>
			<legend class="address">Address</legend>
			<ul>
				<li>
					<label for="street_address">Street Address:</label>
					<input type="text" id="street_address" name="street_address" class="large" />
				</li>
				<li>
					<label for="city">City:</label>
					<input type="text" id="city" name="city" class="large" />
				</li>
				<li>
					<label for="prov">Province:</label>
					<select id="prov" name="prov">
						<option value="AB">Alberta</option>
						<option value="BC">British Columbia</option>
						<option value="MB">Manitoba</option>
						<option value="NB">New Brunswick</option>
						<option value="NL">Newfoundland and Labrador</option>
						<option value="NS">Nova Scotia</option>
						<option value="ON">Ontario</option>
						<option value="PE">Prince Edward Island</option>
						<option value="QC">Quebec</option>
						<option value="SK">Saskatchewan</option>
						<option value="NT">Northwest Territories</option>
						<option value="NU">Nunavut</option>
						<option value="YT">Yukon</option>
					</select>
				</li>
				<li>
					<label for="postal">Postal Code:</label>
					<input type="text" id="postal" name="postal" class="small" />
				</li>
				<li>
					<label for="phone">Phone:</label>
					<input type="tel" id="phone" name="phone" class="medium" />
				</li>
			</ul>
		</fieldset>
		<!-- end address -->
		
		<!-- START PUBLIC PROFILE FIELDS -->
		<fieldset>
			<legend class="public-profile">Public Profile</legend>
			<ul>
				<li>
					<label for="picture">Picture:</label>
                    <input type='file' id='picture' name='picture' />
                    
                    

					<p class="instructions">Maximum size of 700k. JPG, GIF, PNG.</p>
				</li>
				<li>
					<label for="screen_name">Screen Name:</label>
					<input type="text" id="screen_name" name="screen_name" class="medium" />
				</li>
		
			
				<li>
					<label>Gender:</label>
					<fieldset class="radios">
					<ul>
						<li>
							<input type="radio" id="gender_male" name="gender" value="male" />
							<label for="gender_male">Male</label>
						</li>
						<li>
							<input type="radio" id="gender_female" name="gender" value="female" />
							<label for="gender_female">Female</label>
						</li>    					
					</ul>
					</fieldset>
				</li>
				<li>
					<label for="birth">Birthday:</label>
                    <input type="date" id="birth" name="birth" />
					
				</li>
				<li>
					<label for="color">Favourite Colour:</label>
                    <input type="color" id="color" name="color" />
					
				</li>
			</ul>
		</fieldset>
		<!-- end public profile -->
		
		<!-- START EMAILS FIELDS -->
		<fieldset>
			<legend class="emails">Emails</legend>
			<ul class="checkboxes">
				<li>
					<input type="checkbox" id="email_ok_msg_from_users" name="email_signup[]" value="user_emails" />
					<label for="email_ok_msg_from_users">It is okay to email me with messages from other users.</label>
				</li>
				<li>
					<input type="checkbox" id="email_ok_occasional_updates" name="email_signup[]" value="occasional_updates" />
					<label for="email_ok_occasional_updates">It is okay to email me with occasional promotions about our other products.</label>
				</li>    			
			</ul>
		</fieldset>
		<!-- end emails -->
		
		<fieldset>
            <button type"submit" name="submitform" value="" class="create_profile">Create Account</button>
		</fieldset>
	</form>